Repository centreon/centreon-nsclient-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-pipelines, @centreon/owners-security

.github/CODEOWNERS:

*                 @centreon/owners-connectors

.github/**        @centreon/owners-pipelines

.gitleaks.toml    @centreon/owners-security
.gitleaksignore   @centreon/owners-security

feat(secu): add gitleaks configuration
  .github/workflows/gitleaks.yml
  .gitleaks.toml
Owners: @centreon/owners-pipelines, @centreon/owners-security

feat(secu): add gitleaks configuration (#97)
  .github/workflows/gitleaks.yml
  .gitleaks.toml
Owners: @centreon/owners-pipelines, @centreon/owners-security

ci(secu): replace gitleaks secret and remove PRT
  .github/workflows/gitleaks.yml
Owners: @centreon/owners-pipelines

ci(secu): replace gitleaks secret and remove PRT (#98)
  .github/workflows/gitleaks.yml
Owners: @centreon/owners-pipelines

fix(ci): add concurrency to gitleaks workflow
  .github/workflows/gitleaks.yml
Owners: @centreon/owners-pipelines

fix(ci): add concurrency to gitleaks workflow (#99)
  .github/workflows/gitleaks.yml
Owners: @centreon/owners-pipelines

chore(ci): upgrade gitleaks
  .github/workflows/gitleaks.yml
Owners: @centreon/owners-pipelines

chore(ci): upgrade gitleaks (#100)
  .github/workflows/gitleaks.yml
Owners: @centreon/owners-pipelines

updates for new release
  builddef-x64.nsi
  resources/nsclient.ini
Owners: @centreon/owners-connectors
